@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 14% 8%;
  --foreground: 210 25% 96%;
  --card: 220 23% 15%;
  --card-foreground: 210 25% 96%;

  --primary: 199 100% 43%;
  --primary-foreground: 0 0% 100%;

  --muted: 220 23% 15%;
  --muted-foreground: 213 15% 65%;

  --border: 220 24% 23%;
  --input: 220 24% 23%;
  --ring: 199 100% 43%;
  --radius: 0.5rem;

  --destructive: 0 83% 62%;
  --destructive-foreground: 0 0% 100%;
  --destructive-soft: 0 70% 16%;
  --destructive-border: 0 67% 36%;

  --success: 142 69% 45%;
  --success-foreground: 0 0% 100%;
  --success-soft: 144 61% 15%;
  --success-border: 143 70% 32%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
}
